#headermaininner{
    width: 85%;
    height: 150px;
    margin: auto;
    display: flex;
}
.card{
    width: 288px;
    height: 132px;
    background-color: white;
    border-radius: 7px;
    margin: 10px;
}
#cardInner{
    padding: 8px;
}

.verticalLine{
    border-left: 1px solid rgb(255, 255, 255);
     height: 132px;
     margin-top: 10px;
}