
#main{
     width: 70%;
     margin: 20px auto 20px auto;
     min-height: 200px;
     height: auto;
     border-radius: 2%;
     background-color: white;
    box-shadow: 1px 2px 5px 1px rgb(221, 219, 219);
    
 }
 .inner{
     width: 32.8%;
    
     margin: auto;
     height: 80px;
     display: flex;
     cursor: pointer;
 }
 .inner:hover{
     color: #03a9f4;
     background-color: rgb(236, 233, 233);
 }
 #after,#womens_team,#ipl_team{
     display: flex;
     flex-wrap: wrap;
     width: 100%;
    
    
     min-height: 200px;
     height: auto;
 }
 .imgss{
     height: 48px;
     width: 48px;
     align-items: center;
     margin: auto 10px auto 20px;

    
 }
 .country_name{
     
     margin: auto;
     margin-left: 0px;
 }

 .country_name a{
      text-decoration: none;
      color: black;
 }

 #footer_new{
    width:1600px;
    /* margin-left: -1100px; */
    height: 5vh;
    background-color: #F1F2F3;
    padding: 20px 200px;
    font-family: Arial, Helvetica, sans-serif;
}
#footer_new>a{
    float: left;
    margin: 8px;
    text-decoration: none;
    color: black;
    
}
#footer_new>a:hover{
    color:#439ec9 !important;  ;
}

